@media screen and (min-width: 800px) and (max-width: 1000px){
    .primary-heading {
        font-size: 2.8rem;
        line-height: 6.4vw;
    }
    .primary-text{
        font-size: 0.7rem;
        line-height: 2vw;
    }
    .home-text button{
        font-size: 0.9rem;
    }
    .home-img div {
        height: 29vw;
        width: 29vw;
    }
    header{
        height: 10vw;
    }
    .brand h1{
        font-size: 2.2rem;
    }
    .brand-logo{
        font-size: 2.2rem;
    }
    nav a {
        font-size: 0.9rem;
    }
    .about-media > iframe {
        height: 45vw;
    }
}
@media screen and (min-width: 600px) and (max-width: 800px){
    .primary-heading {
        font-size: 2.5rem;
        line-height: 7.5vw;
    }
    .primary-text {
        width: 44vw;
        font-size: 0.7rem;
        line-height: 2.5vw;
        margin: 1.5vw 0 2.4vw 0;
    }
    .home-text button{
        font-size: 0.9rem;
    }
    .home-img div {
        height: 29vw;
        width: 29vw;
    }
    header{
        height: 13vw;
    }
    .brand h1{
        font-size: 2rem;
    }
    .brand-logo{
        font-size: 2rem;
    }
    nav a {
        font-size: 0.8rem;
    }
    .about-media > iframe {
        height: 56vw;
    }
}
@media screen and (min-width: 500px) and (max-width: 600px){
    .primary-heading {
        font-size: 2.3rem;
        line-height: 7.9vw;
    }
    .primary-text {
        width: 44vw;
        font-size: 0.7rem;
        line-height: 2.5vw;
        margin: 1.5vw 0 2.4vw 0;
    }
    .home-text button{
        font-size: 0.9rem;
    }
    .home-img div {
        height: 32vw;
        width: 32vw;
    }
    header{
        height: 18vw;
    }
    .brand h1{
        font-size: 1.9rem;
    }
    .brand-logo{
        font-size: 1.9rem;
    }
    nav a {
        font-size: 0.7rem;
    }
}
@media screen and (min-width: 400px) and (max-width: 500px){
    .primary-heading {
        font-size: 2.3rem;
        line-height: 10.5vw;
    }
    .primary-text {
        width: 66vw;
        font-size: 0.7rem;
        line-height: 3.5vw;
        margin: 1.5vw 0 2.4vw 0;
    }
    .home-text {
        width: 90%;   
        align-items: flex-start;
    }
    .home-text button{
        font-size: 0.9rem;
    }
    .home-img {
        margin: 6vw 0 0 6rem ;
    }
    .home-img div {
        height: 43vw;
        width: 43vw;
    }
    .home-img div > div > img {
        left: -8vw;
        top: -17vw;
        width: 54vw;
    }
    .home-section {
        margin-top: 3rem;
        flex-direction: column;
    }
    header{
        height: 18vw;
    }
    .brand h1{
        font-size: 1.9rem;
    }
    .brand-logo{
        font-size: 1.9rem;
    }
    nav{
        display: none;
    }
    
    .responsove-nav{
        display: block;
        position: fixed;
        background: #5454d4;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5vw 0;
        top: -18vw;
        transition: 0.3s;
    }
    .humburger-menu-icon{
        display: block;
        color: #fff;
    }
    .contact-btn{
        display: none;
    }
    .for-mob{
        display: block;
    }
    nav a {
        font-size: 0.7rem;
    }
    .about-us{
        margin-top: 26vw;
    }
}
@media screen and (min-width: 250px) and (max-width: 400px){
    .primary-heading {
        font-size: 2.2rem;
        line-height: 12vw;
    }
    .primary-text {
        width: 66vw;
        font-size: 0.7rem;
        line-height: 4.5vw;
        margin: 2.5vw 0 4.4vw 0;
    }
    .home-text {
        width: 90%;   
        align-items: flex-start;
    }
    .home-text button{
        font-size: 0.8rem;
        padding: 3vw 5vw;
    }
    .home-text button > i {
        font-size: 1rem;
    }
    .home-img {
        margin: 6vw 0 0 6rem ;
    }
    .home-img div {
        height: 48vw;
        width: 48vw;
    }
    .home-img div > div {
        top: 3vw;
        right: -3vw;
    }
    .home-img div > div > img {
        width: 61vw;
    }
    .home-section {
        margin-top: 15vw;
        flex-direction: column;
    }
    header{
        height: 18vw;
    }
    .brand h1{
        font-size: 1.9rem;
    }
    .brand-logo{
        font-size: 1.9rem;
    }
    .responsove-nav{
        display: block;
        position: fixed;
        background: #5454d4;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5vw 0;
        top: -17vw;
    }
    .humburger-menu-icon{
        display: block;
        color: #fff;
    }
    .contact-btn{
        display: none;
    }
    .for-mob{
        display: block;
    }
    nav{
        display: none;
    }
    .contact-btn{
        display: none;
    }
    nav a {
        font-size: 0.7rem;
    }
}


@media screen and (min-width: 200px) and (max-width: 800px){
    .about-text{
        flex-direction: column;
        width: 81%;
    }
}
@media screen and (min-width: 400px) and (max-width: 600px){
    .about-media > iframe {
        height: 68vw;
        width: 88vw;
    }   
}
@media screen and (min-width: 200px) and (max-width: 400px){
    .about-media > iframe {
        height: 97vw;
        width: 91vw;
    }   
    .about-us{
        margin-top: 30vw;
    }
    /* .about-text > div > h1{
        font-size: 2rem;
    } */
}
@media screen and (min-width: 600px) and (max-width: 1000px){
    .services-grid {
        display: grid;
        grid-template-rows: repeat(3,auto);
        grid-template-columns: repeat(2,auto);
    }
    .services-item {
       width: 36vw;
    }
    .services-item > div > i {
        font-size: 1.5rem;
    }
    .services-item > p {
        line-height: 3.5vw;
        width: 30vw;
        text-align: center;
    }
    .services-item > h1 {
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 450px) and (max-width: 600px){
    .services-heading {
        margin-bottom: 6vw;
    }
    .services-grid {
        display: grid;
        grid-template-rows: repeat(6,auto);
        grid-template-columns: repeat(1,auto);
        grid-row-gap: 8vw
    }
    .services-item {
       width: 55vw;
    }
    .services-item > div > i {
        font-size: 1.2rem;
    }
    .services-item > p {
        line-height: 4.5vw;
        font-size: 0.9rem;
        width: 35vw;
        text-align: center;
    }
    .services-item > h1 {
        font-size: 1.6rem;
    }
    .services-item > div{
        width: 8vw;
    }
}
@media screen and (min-width: 250px) and (max-width: 450px){
    .services-heading {
        margin-bottom: 10vw;
    }
    .services-grid {
        display: grid;
        grid-template-rows: repeat(6,auto);
        grid-template-columns: repeat(1,auto);
        grid-row-gap: 16vw
    }
    .services-item {
       width: 67vw;
    }
    .services-item > div > i {
        font-size: 1rem;
    }
    .services-item > p {
        line-height: 4.5vw;
        font-size: 0.7rem;
        width: 35vw;
        text-align: center;
    }
    .services-item > h1 {
        font-size: 1.6rem;
    }
    .services-item > div{
        width: 8vw;
    }
}

@media screen and (min-width: 250px) and (max-width: 800px){
.contact-us{
    flex-direction: column;
    margin-top: 2rem;
}
.contact-us button{
    margin-top: 2rem;
    padding: 2vw 6vw;
}

}
@media screen and (min-width: 250px) and (max-width: 700px){
.footer{
    flex-direction: column;
    height: 8rem;
}
.footer-text{
    flex-direction: column;
    height: 3rem;
}

}
@media screen and (min-width: 250px) and (max-width: 450px){

.footer-text > ul a{
    flex-direction: column;
    height: 0.8rem;
}

}
